<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">{{user}}</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-user-o"></span>
                    </div>
                    <h3 class="text-center mb-4">ตรวจสอบสถานะการลงทะเบียน</h3>
                    <form action="#" class="login-form">
                        <div class="form-group">
                            <input type="text" class="form-control rounded-left" name="idcard" [(ngModel)]="idcard" placeholder="หมายเลขบัตรประชาชน" maxlength="13" (change)="onCheckInp()" required numbersOnly>
                            <label for="idcard" style="color: red;" *ngIf="checkinput">กรุณาป้อนหมายเลขบัตรประชาชน 13 หลัก</label>
                            <label for="idcard" style="color: red;" *ngIf="!validateinput">ป้อนหมายเลขบัตรประชาชน 13 หลักไม่ถูกต้อง</label>
                        </div>
                        <div class="form-group">
                            <button type="button" class="form-control btn btn-primary rounded submit px-3" (click)="checkInp()">ตรวจสอบ</button>
                        </div>
                        <div class="form-group">
                            <button type="button" class="form-control btn btn-danger rounded px-3" style="background-color: red; color: white;" (click)="clearInp()">ยกเลิก</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <button routerLink="/checkregis">
    xxx
  </button> -->
<div class="container py-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <button mat-flat-button color="warn" (click)="doBeforeClose()"><i class="fa fa-close"></i> ปิดหนาต่างนี้</button>
        </div>
    </div>
</div>

<script src="assests/js/jquery.min.js"></script>
<script src="assests/js/popper.js"></script>
<script src="assests/js/bootstrap.min.js"></script>
<script src="assests/js/main.js"></script>